body {
  
    background-color: rgb(25, 33, 41);
  }
  
  #form-container {
    border: 3px solid rgb(67, 163, 230);
    
    
    margin: 200px;
    margin-color: blue;
    }
  #name {
    width: 215px;
  }
  #email {
    width: 215px;
  }
  #emailcaja {
    font-size: 
  }
  
  form {
    width: 250px;
    color: white;
    font-family: "Playfair Display";
    font-size: 19px;
    border: 2px solid #17212e;
    padding: 30px;
   }
  
  
  button {
    color: white;
    padding: 7px;
    background-color: rgb(67,163,230);
    border: 0px;
    border-radius: 10px;  
  }
  